<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sungcor.baobiao.mapper.ProductOrderMapper">

    <select id="getTheCustomer" parameterType="String" resultType="com.sungcor.baobiao.entity.Customer">
        SELECT * FROM Customer WHERE Id=#{Id}
    </select>

    <select id="getTheProduct" parameterType="String" resultType="com.sungcor.baobiao.entity.Product">
        SELECT * FROM productsselling where Id=#{id}
    </select>

    <update id="updateCustomer" parameterType="com.sungcor.baobiao.entity.Customer">
        UPDATE Customer set balance = #{balance} WHERE ID = #{id}
    </update>

    <update id="updateProduct" parameterType="com.sungcor.baobiao.entity.Product">
        UPDATE productsselling set count = #{count} WHERE ID = #{id}
    </update>

    <update id="getGoods" parameterType="com.sungcor.baobiao.entity.Product">
        UPDATE productsselling set count = 600
    </update>

</mapper>
